.line {
    margin: 20px;
    position: relative;
}

span {
    display: block;
    width: 100px;
}

select {
    width: 300px;
    position: relative;
    left: 200px;
    top: -20px;
}

td, th, table {
    border: 1px solid black;
    padding: 2px;
    margin: 1px;
    text-align: center;
}

table {
    width: 850px;
}

td, th {
    width: 200px;
}
